Repository leovido/replycast: changes, and which lefthook commands are due for each by the changed paths.
All: test, build, lint

lefthook.yml:

# Lefthook configuration for Reply Speed Insights
# https://github.com/evilmartians/lefthook

# Pre-commit hooks - run before each commit
pre-commit:
  parallel: true
  commands:
    # Run tests quietly (fast feedback)
    test:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: pnpm test:quiet
      fail_text: "❌ Tests failed. Please fix the failing tests before committing."

    # Build the project to ensure it compiles
    build:
      glob: "*.{js,jsx,ts,tsx,json,md,yml,yaml}"
      run: pnpm build
      fail_text: "❌ Build failed. Please fix compilation errors before committing."

    # Run linting
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm lint
      fail_text: "❌ Linting failed. Please fix linting errors before committing."

# Pre-push hooks - run before pushing to remote
pre-push:
  parallel: true
  commands:
    # Run full test suite with coverage
    test-coverage:
      run: pnpm test:coverage
      fail_text: "❌ Test coverage failed. Please ensure all tests pass before pushing."

    # Run performance audit
    performance:
      run: pnpm perf:audit
      fail_text: "❌ Performance audit failed. Please check performance issues before pushing."

# Post-commit hooks - run after successful commit
post-commit:
  commands:
    # Notify about successful commit
    success:
      run: echo "✅ Commit successful! Build and tests passed."
      fail_text: ""

# Commit-msg hooks - run on commit message
# commit-msg:
#   commands:
#     # Check commit message format (optional)
#     message-check:
#       run: |
#         if ! echo "$1" | grep -qE "^(feat|fix|docs|style|refactor|test|chore|perf|ci|build|revert)(\(.+\))?: .+"; then
#           echo "❌ Commit message should follow conventional commits format:"
#           echo "   type(scope): description"
#           echo "   Examples: feat: add new feature, fix: resolve bug, docs: update readme"
#           exit 1
#         fi
#       fail_text: "❌ Invalid commit message format. Please use conventional commits format."

# Post-merge hooks - run after successful merge
post-merge:
  commands:
    # Install dependencies if package files changed
    install-deps:
      glob: "{package.json,pnpm-lock.yaml}"
      run: pnpm install
      fail_text: "❌ Failed to install dependencies after merge."

# Post-checkout hooks - run after checkout
post-checkout:
  commands:
    # Install dependencies if package files changed
    install-deps:
      glob: "{package.json,pnpm-lock.yaml}"
      run: pnpm install
      fail_text: "❌ Failed to install dependencies after checkout."

fix: login button styling
  components/FarcasterSignIn.tsx
  components/QRCodeModal.tsx
  hooks/useFarcasterAuth.ts
Due: test, build, lint

fix: hide debug mode
  hooks/useFarcasterAuth.ts
  package.json
  pnpm-lock.yaml
Due: test, build, lint

Fix: Apply Safari-specific CSS for layout and scrolling
  components/FarcasterApp.tsx
  components/SpeedModeAlt.tsx
  styles/globals.css
Due: test, build, lint

Fix: Add min-h-0 to containers for proper scrolling
  components/FarcasterApp.tsx
Due: test, build, lint

feat: Configure standalone output and update dependencies
  .dockerignore
  Dockerfile
  docker-compose.yml
  grafana/provisioning/datasources/datasource.yml
  next.config.js
  package-lock.json
  package.json
  pages/api/metrics.ts
  pnpm-lock.yaml
  prometheus.yml
  utils/metrics.ts
Due: test, build, lint

feat: Dockerize application with monitoring
  .dockerignore
  .gitignore
  DEPLOYMENT_SUMMARY.md
  DOCKER_QUICK_START.md
  DOCKER_README.md
  DOCKER_SETUP.md
  Dockerfile
  Dockerfile.dev
  MONITORING.md
  Makefile
  docker-compose.dev.yml
  docker-compose.yml
  monitoring/grafana/dashboards/nextjs-dashboard.json
  monitoring/grafana/provisioning/dashboards/dashboard.yml
  monitoring/grafana/provisioning/datasources/datasource.yml
  monitoring/prometheus/alerts.yml
  monitoring/prometheus/prometheus.yml
  next.config.js
  pages/api/health.ts
  pages/api/metrics.ts
Due: test, build, lint

fix: useEffect improvements
  hooks/useFarcasterData.ts
  pnpm-lock.yaml
Due: test, build, lint

chore: no frozen lockfile
  .github/workflows/ci-simple.yml
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  .github/workflows/security.yml
Due: test, build

chore: code review
  hooks/useFarcasterData.ts
Due: test, build, lint

fix: useEffect improvements (#46)
  .github/workflows/ci-simple.yml
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  .github/workflows/security.yml
  hooks/useFarcasterData.ts
  pnpm-lock.yaml
Due: test, build, lint

feat: Add Prometheus metrics and update dependencies
  .dockerignore
  DOCKER_SETUP.md
  Dockerfile
  README.md
  docker-compose.yml
  monitoring/grafana/dashboards/app-overview.json
  monitoring/grafana/provisioning/dashboards/dashboards.yml
  monitoring/grafana/provisioning/datasources/datasources.yml
  monitoring/prometheus/prometheus.yml
  next.config.js
  package.json
  pages/api/metrics.ts
  pnpm-lock.yaml
Due: test, build, lint

Conditionally load bundle analyzer to avoid runtime errors
  next.config.js
Due: test, build, lint

fix: improve ui with product skill
  components/FarcasterApp.tsx
Due: test, build, lint

refactor: apply design principles to User Info Card and SearchBar
  components/SearchBar.tsx
Due: test, build, lint

refactor: apply design principles to Header section
  components/FarcasterApp.tsx
Due: test, build, lint

refactor: apply design principles to TabBar component
  components/TabBar.test.tsx
  components/TabBar.tsx
Due: test, build, lint

fix: optimize for mobile-first with proper touch targets
  components/FarcasterApp.tsx
  components/SearchBar.tsx
  components/TabBar.tsx
Due: test, build, lint

chore: sonar review
  components/FarcasterApp.tsx
Due: test, build, lint

chore: sonar review
  components/SearchBar.tsx
  components/TabBar.tsx
Due: test, build, lint

chore: sonar empty project properties file
  sonar-project.properties
Due: none

refactor: fix SonarQube code quality issues
  components/SearchBar.tsx
  components/TabBar.tsx
Due: test, build, lint

fix: improve ui with product skill (#47)
  components/FarcasterApp.tsx
  components/SearchBar.tsx
  components/TabBar.test.tsx
  components/TabBar.tsx
  sonar-project.properties
Due: test, build, lint

chore: delete neynar rules
  .cursor/rules/neynar-mcp-rules.mdc
Due: none

feat: add release gh action
  .github/workflows/release.yml
Due: test, build

Refactor: Move reputation fetching to FarcasterApp
  components/FarcasterApp.test.tsx
  components/FarcasterApp.tsx
  hooks/useFarcasterData.ts
Due: test, build, lint

feat: add docs and AGENTS.md
  AGENTS.md
  README.md
  docs/architecture/README.md
  docs/architecture/c4-component.md
  docs/architecture/c4-container.md
  docs/architecture/c4-system-context.md
  docs/architecture/c4-useFarcasterData-critique.md
  docs/architecture/c4-useFarcasterData.md
  docs/architecture/linear-import-summary.md
  docs/architecture/refactoring-todos.md
  docs/architecture/sequence-app-initialization.md
  docs/architecture/sequence-conversation-fetch.md
  docs/architecture/sequence-diagrams-README.md
  docs/architecture/sequence-pagination.md
  docs/architecture/sequence-reply-flow.md
  docs/architecture/sequence-reputation-fetch.md
Due: test, build

feat: add docs and AGENTS.md (#49)
  AGENTS.md
  README.md
  docs/architecture/README.md
  docs/architecture/c4-component.md
  docs/architecture/c4-container.md
  docs/architecture/c4-system-context.md
  docs/architecture/c4-useFarcasterData-critique.md
  docs/architecture/c4-useFarcasterData.md
  docs/architecture/linear-import-summary.md
  docs/architecture/refactoring-todos.md
  docs/architecture/sequence-app-initialization.md
  docs/architecture/sequence-conversation-fetch.md
  docs/architecture/sequence-diagrams-README.md
  docs/architecture/sequence-pagination.md
  docs/architecture/sequence-reply-flow.md
  docs/architecture/sequence-reputation-fetch.md
Due: test, build

Reputation logic extraction hook (#48)
  components/FarcasterApp.test.tsx
  components/FarcasterApp.tsx
  hooks/useFarcasterData.ts
Due: test, build, lint
